##
# should-assert MegaLinter GitHub Action configuration file
#
# See: https://oxsecurity.github.io/megalinter
---
name : MegaLinter

on:
    push:
    pull_request:
        branches:
            - master
            - main

concurrency:
    group              : ${{ github.ref }}-${{ github.workflow }}
    cancel-in-progress : true

jobs:
    build:
        name    : MegaLinter
        runs-on : ubuntu-latest

        steps:
            -   name : Checkout Code
                uses : actions/checkout@v3
                with:
                    token       : ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
                    fetch-depth : 0

            -   name  : MegaLinter
                id    : ml
                uses  : oxsecurity/megalinter/flavors/python@v6
                env:
                    VALIDATE_ALL_CODEBASE : ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
                    GITHUB_TOKEN          : ${{ secrets.GITHUB_TOKEN }}

            -   name : Archive MegaLinter Artifacts
                if   : ${{ success() }} || ${{ failure() }}
                uses : actions/upload-artifact@v2
                with:
                    name : MegaLinter Reports
                    path : |
                        megalinter-reports
                        mega-linter.log
